  @{
  Layout = "_Layout";
}
<div class="container pt-2 my-5 border">
  <h4>Vendor: @Model["vendor"].Name</h4>
  <h5>Details: </h5>

  <strong>@Model["orders"].Title</strong>
  <ol>
    Description: @Model["orders"].Description <br>
    Price: $@Model["orders"].Price <br>
    Date: @Model["orders"].Date.ToString("dd/MMM/yyyy");
  </ol>


  <p><a href='/vendor/@Model["vendor"].Id/orders/new'>Add Order</a></p>
  <p><a href='/vendor'>Vendors list</a></p>
  <p><a href='/'>Home Page</a></p>

</div>